@model IndexViewModel

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "This Blog has everything!";
    ViewBag.Keywords = "blog programing travel photography";
    var basePath = Context.Request.PathBase;
}

<div class="main-img">
    <span class="title">Amazing Blog Site</span>
</div>
<div class="container">
    @foreach (var post in Model.Posts)
    {
        var imagePath = $"{basePath}/Image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@imagePath"/>
            <span class="title">
                @post.Title 
            </span>
        </a>
    }
    <div class="pages-buttons">
        @if (Model.PageNumber > 1)
        {
            <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
               asp-route-pageNumber="@(Model.PageNumber - 1)" class="previous-page">Previous Page</a>
        }
        @if (Model.NextPage)
        {
            <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
               asp-route-pageNumber="@(Model.PageNumber + 2)" class="next-page">Next Page</a>
        }
    </div>
</div>