@model IEnumerable<Post>

@{
    
}
@*<h2>Home Page!</h2>

<img src="content/static/ecc8608ebb9732b0a74cc79493f1a31f.jpeg" width="500"/>*@
<div class="main-img">
    <span class="title">Amazing Blog Site</span>
</div>
<div class="container"> 
    @* <ul> *@
    @*     @foreach (var post in Model) *@
    @*     { *@
    @*         <li> *@
    @*             <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id"> *@
    @*                 @post.Title *@
    @*             </a> *@
    @*         </li> *@
    @*     } *@
    @* </ul> *@
    @foreach (var post in Model)
    {
        var imagePath = $"/Image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@imagePath"/>
            <span class="title">
                @post.Title 
            </span>
        </a>
    }
</div>