@model Post

@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = $"{Model.Tags?.Replace(",", "")}";
    var basePath = Context.Request.PathBase;
}


<div class="container">
    <div class="post no-shadow">
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            var imagePath = $"{basePath}/Image/{Model.Image}";
            <img src="@imagePath"/>
            <span class="title">@Model.Title</span>
        }
    </div>
    <div class="post-body">
        @Html.Raw(@Model.Body)
    </div>
    <div class="comment-section">
        @{
           await Html.RenderPartialAsync("_MainComment", new CommentViewModel{PostId = Model.Id, MainCommentId = 0});
        }
        @foreach (var c in Model.MainComments)
        {
            <div class="comment-container">
                <p class="comment">
                    @c.Message --- @c.Created
                </p>
                <div class="sub-comment-section">
                    <h4 class="sub-comment-header">Answers</h4>
                    @{
                        await Html.RenderPartialAsync("_MainComment", new CommentViewModel{PostId = Model.Id, MainCommentId = c.Id});
                    }
                    
                    @foreach (var sc in c.SubComments)
                    {
                        <p class="sub-comment">
                            @sc.Message --- @sc.Created
                        </p>
                    }
                </div>
            </div>
            
        }
    </div>
</div>